table {
  border-collapse: collapse;
  margin-bottom: 15px;
}
th {
  background-color: $bgcolor;
  text-align: left;

}
.table_header{
  color: $textgray;
}
td{
  text-align: left;
  padding-right: 20px;
}
.top_index{
  vertical-align: super;
  font-size: 12px;
}
